<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <%= render "header" %>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= render partial: "form", locals: {item: @item} %>
  </div>
  <%= render "footer" %>
</div>